## Selecting Data from dataframe

In [13]:
# imports 
import pandas

data= pandas.read_csv("reviews.csv")

# get mean of rating
mean_rating= data.Rating.mean() # data['Rating'].mean()
print(mean_rating)

# selecting multiple columns
data.columns # => gives column names
new_data=data[['Course Name', 'Rating']]
new_data.head()

4.442155555555556

                                         Course Name  Rating
0  The Python Mega Course: Build 10 Real World Ap...     4.0
1  The Python Mega Course: Build 10 Real World Ap...     4.0
2  The Python Mega Course: Build 10 Real World Ap...     4.0
3  The Python Mega Course: Build 10 Real World Ap...     5.0
4  The Python Mega Course: Build 10 Real World Ap...     4.5

# Selecting Rows

## selecting single row

In [16]:
data.iloc[3]  #

Course Name    The Python Mega Course: Build 10 Real World Ap...
Timestamp                              2021-04-02 03:33:24+00:00
Rating                                                       5.0
Comment                                                      NaN
Name: 3, dtype: object

## selecting multiple rows

In [18]:
data.iloc[1:3]   # get data fram from row 1 to 3, 3 exclusive

,Course Name,Timestamp,Rating,Comment
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN

## Selecting a section

In [19]:
data[['Course Name', 'Rating']].iloc[1:3]

                                         Course Name  Rating
1  The Python Mega Course: Build 10 Real World Ap...     4.0
2  The Python Mega Course: Build 10 Real World Ap...     4.0

## selecting a single cell

In [24]:
data['Timestamp'].iloc[2]  # sect timestap and index 2
print(type(data['Timestamp'].iloc[2]) )

data['Rating'].iloc[3]

<class 'str'>

5.0

In [23]:
# using data at
data.at[2, 'Rating']  # index columnName

4.0

# Filtering Data based on Conditions

In [25]:
# One Condition 
data[data['Rating'] >4] # get data with rating greater than 4

,Course Name,Timestamp,Rating,Comment
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN
5,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 01:10:06+00:00,4.5,NaN
6,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 00:44:54+00:00,4.5,NaN
7,The Python Mega Course: Build 10 Real World Ap...,2021-04-01 23:42:02+00:00,5.0,NaN
...,...,...,...,...
44994,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:19:24+00:00,5.0,NaN
44996,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:09:56+00:00,5.0,NaN
44997,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:08:11+00:00,5.0,NaN
44998,Python for Beginners with Examples,2018-01-01 01:05:26+00:00,5.0,NaN
44999,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:01:16+00:00,5.0,NaN

In [26]:
data[data['Rating']<2]

,Course Name,Timestamp,Rating,Comment
103,100 Python Exercises I: Evaluate and Improve Y...,2021-03-29 19:21:12+00:00,1.0,NaN
115,The Python Mega Course: Build 10 Real World Ap...,2021-03-29 13:25:50+00:00,1.0,NaN
162,The Complete Python Course: Build 10 Professio...,2021-03-27 13:30:15+00:00,1.0,NaN
246,The Python Mega Course: Build 10 Real World Ap...,2021-03-24 19:58:47+00:00,1.0,NaN
343,The Python Mega Course: Build 10 Real World Ap...,2021-03-21 16:44:06+00:00,1.0,NaN
...,...,...,...,...
44762,The Python Mega Course: Build 10 Real World Ap...,2018-01-05 19:16:59+00:00,0.5,NaN
44910,Python for Beginners with Examples,2018-01-02 19:25:58+00:00,1.0,NaN
44919,The Python Mega Course: Build 10 Real World Ap...,2018-01-02 16:19:15+00:00,0.5,He doesn't teach anything you just save the me...
44934,The Python Mega Course: Build 10 Real World Ap...,2018-01-02 12:06:51+00:00,1.0,NaN
44940,Interactive Data Visualization with Python and...,2018-01-02 07:41:16+00:00,1.5,too slow. repetitive information

In [28]:
d2= data[data['Rating']>4] # counts give number of data, also len() method can be used 
d2['Rating']  # means only rating column with rating greater than 4

3        5.0
4        4.5
5        4.5
6        4.5
7        5.0
        ...
44994    5.0
44996    5.0
44997    5.0
44998    5.0
44999    5.0
Name: Rating, Length: 29758, dtype: float64

## Multiple conditions

In [29]:
data[(data['Rating']>4)& (data['Course Name']=='The Complete Python Course: Build 10 Professional OOP Apps')]

,Course Name,Timestamp,Rating,Comment
31,The Complete Python Course: Build 10 Professio...,2021-04-01 01:32:52+00:00,5.0,NaN
34,The Complete Python Course: Build 10 Professio...,2021-03-31 22:53:04+00:00,5.0,NaN
43,The Complete Python Course: Build 10 Professio...,2021-03-31 19:15:25+00:00,5.0,NaN
45,The Complete Python Course: Build 10 Professio...,2021-03-31 17:23:15+00:00,5.0,NaN
101,The Complete Python Course: Build 10 Professio...,2021-03-29 21:54:00+00:00,4.5,NaN
...,...,...,...,...
2501,The Complete Python Course: Build 10 Professio...,2021-01-14 21:19:44+00:00,4.5,NaN
2502,The Complete Python Course: Build 10 Professio...,2021-01-14 20:57:14+00:00,5.0,NaN
2509,The Complete Python Course: Build 10 Professio...,2021-01-14 15:46:18+00:00,5.0,NaN
2523,The Complete Python Course: Build 10 Professio...,2021-01-13 22:21:14+00:00,5.0,NaN
2525,The Complete Python Course: Build 10 Professio...,2021-01-13 20:44:02+00:00,5.0,NaN

In [30]:
# Get mean from multiple conditions
data[(data['Rating']>4)& (data['Course Name']=='The Complete Python Course: Build 10 Professional OOP Apps')].mean()

/var/folders/j_/9h44m4_91zq8_3hyh56m_lj80000gn/T/ipykernel_79249/1414914252.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data[(data['Rating']>4)& (data['Course Name']=='The Complete Python Course: Build 10 Professional OOP Apps')].mean()

Rating    4.908832
dtype: float64